/* Responsive CSS file styles defined for smaller width devices */
/* CSS for tablet devices */
@media screen and (min-width: 576px) and (max-width: 820px) {
    .logo {
        padding: 0 3rem;
    }
    .hamburger {
        display: block;
        padding: 0 3rem;
    }
    .menu {
        position: absolute;
        right: 0;
        padding: 0 3rem;
        top: 75px;
        background-image: linear-gradient(180deg, #3171d1, #2248e1, #2e55af);
        display: none;
        transition: all 0.25s;
    }
    .menu .menu-list {
        flex-direction: column;
    }
    .more-details {
        flex-direction: column;
    }
    .more-details .more-details-text {
        padding: 2rem;
    }
    .my-row {
        gap: 10px;
    }

    .my-row .my-col {
        text-align: center;
        width: 35%;
    }
}
/* CSS for mobile devices */
@media screen and (min-width: 280px) and (max-width: 576px) {
    .hero {
        justify-content: center;
        color: #fff;
        background-image: radial-gradient(circle, rgb(15 14 14 / 30%), rgb(102 96 96 / 40%), rgb(163 160 160 / 16%)), url('./Images/heroImg3.avif')
    }
    .sub-heading {
        color: #fff9f9cc;
    }
    .hero .intro-buttons {
        gap: 20px;
    }
    .btn {
        padding: 10px 30px;
    }
    .logo {
        padding: 0 2rem;
    }
    .menu {
        position: absolute;
        right: 0;
        padding: 0 2rem;
        top: 75px;
        background-image: linear-gradient(180deg, #35A99C, #53C8B6, #74D7BB);
        display: none;
        transition: all 0.25s;
    }
    .menu .menu-list {
        flex-direction: column;
    }
    .hamburger {
        display: block;
        padding: 0 2rem;
    }
    .more-details {
        flex-direction: column;
    }
    .more-details .more-details-text {
        width: 100%;
        padding: 0rem;
    }
    .my-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin: 2rem 0;
        gap: 1rem;
    }
    .my-row .my-col {
        text-align: center;
        width: 100%;
    }
    .footer-menu {
        padding: 0 2rem;
    }
    .footer-list-items {
        margin: 0;
    }
}
