/* Styles defined for the desktop or the bigger screen devices*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Header Navbar Styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background-image: linear-gradient(90deg, #0046a8, #4b8fcf, #35A99C);
    background-color: transparent;
    z-index: 100;
}
.logo {
    padding: 0 5rem;
}
.logo .logo-heading {
    color: #fff;
}

.menu {
    padding: 0 5rem;
}

.hamburger {
    display: none;
    color: #fff;
    font-size: 25px;
}
.cross-icon {
    display: none;
}
.menu .menu-list {
    display: flex;
    list-style: none;
}
.menu-list .menu-list-items {
    padding: 0.5rem 1rem;
}

@media screen and (min-width: 856px) and (max-width: 1024px) {
    .menu-list .menu-list-items {
        padding: 0.5rem 0.3rem;
    }
}
/* Main Hero Section Styles */
.hero .intro {
    text-align: center;
    margin: 0 5rem;
}
.hero .intro-buttons {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}




/* more details section styles */
.more-details {
    display: flex;
    align-items: center;
    background-image: linear-gradient(45deg, #363D73, #2794B3);
    justify-content: center;
    width: 100%;
}
.more-details .more-details-text {
    width: 100%;
    color: #fff;
    padding: 5rem 5rem 5rem 5rem;
}


/* --- more images section styles --- */
.more-images {
    display: flex;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(45deg, #2794B3, #363D73);
    justify-content: center; /* Centre le contenu de cette section */
    width: 100%;
}
.more-images .more-images-text {
    /* Suppression du width fixe, utilisation d'une max-width si nécessaire */
    max-width: 900px; /* Par exemple */
    width: 100%;
    color: #fff;
    /* Rendre le padding symétrique (si vous le souhaitez) */
    padding: 5rem 1rem; 
}


/* --- Styles Généraux de la Visionneuse --- */
.viewer-container {
    max-width: 600px;
    margin: 10px auto; /* Centrage horizontal de la visionneuse */
    font-family: sans-serif;
    text-align: center;
    z-index: 1;
}
.main-display {
    position: relative;
    width: 100%; /* Corrigé : pour rester à l'intérieur du conteneur parent */
    height: 450px; 
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin: 50px auto; 
    /*border: 1px solid #ddd;*/
}

.media-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 50px;
}
.main-display img, .main-display video {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}






/* --- Styles des Boutons de Navigation (Flèches) --- */
.nav-btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 1px solid #ddd;
    padding: 0;
    font-size: 2em;
    cursor: pointer;
    height: 60px;
    width: 60px;
    transition: background-color 0.3s ease;
    border-radius: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0; 
    flex-shrink: 0;

}
.nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* --- Styles des Boutons de la Liste (Miniatures) --- */
.media-list button {
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
}
.media-list button.active { /* Bouton actuellement sélectionné */
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}
.media-list button:hover:not(.active) {
    background-color: #e0e0e0;
}






.icon {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #363D73;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon svg {
    font-size: 30px;
    color: #fff;
}



.home-button {
    display: flex;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(45deg, #363D73, #2794B3, #363D73);
    justify-content: center;
    width: 100%;
  /* Pour voir l'effet du centrage vertical, le conteneur doit avoir une hauteur */
    height: 75px; 
}





/* Footer Styles */
.footer {
    background-color: #000;
    color: #fff;
    padding: 2rem;
}
.footer-list-items {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    margin: 1rem 1rem 0 1rem;
    border-radius: 50%;
    background-color: #53C8B6;
}
.footer-links {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}
.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.footer-content {
    display: flex; 
    justify-content: center; 
    align-items: center;    
    flex-direction: row; 
    flex-wrap: wrap; 
}
.footer-content h4 {
    margin: 0;
    font-weight: normal; 
    font-size: 1rem;
}
.footer-menu {
    padding: 0 5rem;
}
.footer-menu .footer-menu-list {
    display: flex;
    list-style: none;
}
/* utility classes */
.greet-heading {
    font-size: 1.3rem;
    font-weight: lighter;
    margin: 0;
    letter-spacing: 1px;
}
.my-heading {
    font-size: 2.5rem;
    margin: 0;
    color: rgb(255, 255, 255);
}
.intro .my-heading  {
    text-shadow: 
        -2px -2px 0 #000,  /* Haut-Gauche */
         2px -2px 0 #000,  /* Haut-Droite */
        -2px  2px 0 #000,  /* Bas-Gauche */
         2px  2px 0 #000;  /* Bas-Droite */
}
.sub-heading {
    margin: 0;
    font-size: 0.8rem;
    color: #fff;
    font-weight: lighter;
}
.intro .sub-heading  {
    text-shadow: 
        -2px -2px 0 #000,  /* Haut-Gauche */
         2px -2px 0 #000,  /* Haut-Droite */
        -2px  2px 0 #000,  /* Bas-Gauche */
         2px  2px 0 #000;  /* Bas-Droite */
    background-color: #000;
}
.links:hover {
    border-bottom: 2px solid #fff;
}

.links {
    border-bottom: 2px solid transparent;
    transition: all 0.25s;
    padding: 5px;
    text-decoration: none;
    color: #fff;
}
.btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    border: none;
}
.common-btn {
    background-color: #35A99C;
    color: #fff;
    border: 2px solid #35A99C;
    transition: all 0.25s;
}
.common-btn:hover {
    background-color: #fff;
    color: #35A99C;
    border: 2px solid #35A99C;
    outline: none;
}
.ghost-btn {
    background-color: #fff;
    color: #35A99C;
    border: 2px solid #35A99C;
    outline: none;
}
.ghost-btn:hover {
    background-color: #35A99C;
    color: #fff;
    transition: all 0.25s;
    border: 2px solid #35A99C;
}
.heading-span {
    font-weight: bolder;
}

.text-center {
    text-align: center;
}
.small-para {
    font-size: 14px;
    color: #fff;
}
.white-text {
    color: #fff;
}
.blue-text {
    color: #363D73;

}

